body img {
    width: 100%;
    font-family: 'Bangers', cursive;
}

.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    background-color: #b91000;
    display: flex;
    justify-content: space-between;
    font-family: 'Bangers', cursive;
}

.left-head {
    color: #e7fbfb;
    font-size: 25px;
    width: 25%;
}

.middle-head {
    
    color: #e7fbfb;
    font-size: 45px;
}

.right-head {
    color: #e7fbfb;
    background-color: black;
    font-size: 25px;
    width: 25%;
}

.right-head ul {
    list-style-type: none;
    background-color: black;
    /* border: 2px dashed skyblue; */
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    margin: unset;
}